*, *::after, *::before 
{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;

  margin:0;
  padding:0;
  background:linear-gradient(to right, rgb(1, 120, 255), cyan);
  height: 100vh;
  
}
 

.wrapper 
{
  font-size: 1.5rem;
  width: 600px;
  height: 450px;
  padding:10px;
  background-color:rgba(34, 59, 59,0.45);
  border-radius: 20px;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

/********** time container *********/

.wrapper .time-container{
  text-align: center;
  font-size: 2rem;
 
  position: relative;
  left:0px;
  color: white;
  
}

.wrapper .time-container .time{
  font-size: 6rem;
  position: relative;
  
  border-right: 3px solid  rgba(34, 59, 59,0.5);;
  padding-right: 15px;
}
.wrapper .time-container .second, .wrapper .time-container .am{

  position: absolute;
  margin-left: 10px;
}
.wrapper .time-container .second
{
  top:5px;
}
.wrapper .time-container .ampm
{
  bottom:5px;
}

/*******************/


.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  text-align: center;
  color: white;


}

.weather .temperature #image
{
  display: block;
  margin: auto;
  width: 80px;
  height: auto;
   
  
}

.search-container{
  display: flex;
  justify-content: center;
  font-size: 6.5rem;
 
}


/*********** input container**********/
.search-container .form {
  display:flex;
  flex-direction:row;
   width: 70%;
  
}

input {
  flex-grow:3;
  border:0;  
  border-radius: 5px 0 0 5px;
  font-size: 1.1rem;
  padding:10px;
}
input:focus {
  outline: none;
}
.submit {
  /* Just a little styling to make it pretty */
  border-radius: 0 5px 5px 0;
  margin: 0;
  border:0;  

 background-color: darkslategray;
  color:white;
  font-size: 1.1rem;
}

/***************media queries***************/

 @media screen and (max-width:800px)
 {
   .wrapper{
     width: 500px;
   }
 }

 @media screen and (max-width:600px)
 {
  html{
    font-size: 13px;
  }
   .wrapper{
     width: 400px;
     height:450px;
   }
 }

 @media screen and (max-width:450px)
 { 
   html{
     font-size: 10px;
   }
   .wrapper{
     width: 250px;
     height: 350px;
   }

    .weather .temperature #image
  {
  
 
    width: 50px;
  }
  .search-container .form {
     width: 90%;
  }
}





















