
body{
         background-image: url("/home/akash/Desktop/firewatch-sunny-day-wallpaper.jpg")  ;
         background-size: cover;
        font-family: sans-serif;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        height: 100vh;
}
img{
    display: block;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.sign-up-form
{
 width:400px;
 box-shadow: 0 0 10px 0 rgb(83, 82, 82);
 background-color: white;
 padding:20px;
 margin: 8% auto 8%;
 text-align: center; 
 border-radius: 10px;
 position: relative;
}

.sign-up-form h1{
    color: rgb(11, 100, 218);
    margin-bottom: 10px;
}

.input-box
{   border: 1.5px solid rgb(121, 120, 120);
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    box-shadow:3px 3px 20px rgb(199, 198, 198);
    width: 80%;
    outline: none;
    overflow-y:scroll;
}
.checkbox
{
border: 3px solid black; 
}
button{
    background-color: greenyellow;
    padding: 7px 20px;
    margin:10px 0;
    border:1px solid black;
    border-radius: 30px;
    outline:none;
    font-size: 15px;
    cursor:pointer;
    width: 85%;
    color: white;
 }
.sign-btn
{ 
  background-color: rgb(18, 86, 233);
}
.twt-btn
{
    background-color: rgb(11, 130, 241);
}
hr
{
    margin-top: 20px;
    width: 70%;

}
.or{

    background: white;
    width:35px;
    margin: -18px auto 10px;
}

img
{  
    position: relative;
    left:50%;
    transform: translateX(-50%);
    /* width:200px; */
    margin-top: 10px;
    
}

a{
    text-decoration: none;
    color: blue;
}




