
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*, *::after,*::before{
    box-sizing: border-box;
}

 img{
    display: inline-block;
    border-radius: 50%;
}
body{
    height: 100vh;
    padding:30px;
    margin:0;
    background-color: skyblue;
    font-family: 'Poppins', sans-serif;
  
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top:-50px;
     
}
.wrapper
{
     max-width: 1440px;
     height:auto;
   
     display: grid;
     grid-template-columns: repeat(4, auto);
     grid-template-rows: auto auto;
    
    row-gap: 15px;
    column-gap: 15px;
    margin : 50px 0;
    padding-bottom: 30px;

    position: relative;
}
/*******************************/
.card{
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: auto auto 1fr 1fr;
    border-radius: 10px;
    padding:10px;
    font-size: 1rem;
    gap:10px;
}
 
.card .dp{
    align-self: center;
}
.card .title{
    grid-column: 2/-1;
    align-self: center;
}
.card h2, p
{  
    margin:0;
    padding:0;
    text-align:left;
}
.card .highlight{
    grid-column: 1/-1;
    font-weight: 800;
    align-self: center;
}
.card .content{
    grid-column: 1/-1;
}
/***************/
.card-1{
    color: white;
    background-color: rgb(125, 5, 236);
    background: url(./images/bg-pattern-quotation.svg) rgb(125, 5, 236);
    background-repeat: no-repeat;
    background-position:90% 5%;
}
 
.card-2{
    color: white;

    grid-column: 3/4;
    background-color:  hsl(217, 19%, 35%);
}

.card-3{
    grid-column: 4/span 1;
    grid-row: 1/-1;
    background-color:dodgerblue;
}

.card-4{
    grid-column: 1/span 1;
    background-color: white;
}
 
.card-5{
    color: white;
    grid-column: 2/span 2;
    background-color: hsl(219, 29%, 14%);
}

 


@media all and (max-width:1190px)
{
  
    .wrapper{
        grid-template-columns: repeat(3,auto);
 
        grid-template-areas: "one one two" 
                           "three three three"
                           "four five five "
                           ;
 
    }
    .heading{
        font-size: 1.6rem;
      top:-40px;


    }
    .card-1{
        grid-area: one;
    }
    .card-2{
        grid-area: two;
    }
    .card-3{
        grid-area: three;
    }
    .card-4{
        grid-area: four;
    }
    .card-5{
        grid-area: five;
    }


    
}


@media all and (max-width:870px)
{
    body{
        padding:10px;
        margin:0;
    }
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
    
        grid-template-areas: "one  "  "two"
                           "three  "
                           "four " "five";
                        
          padding-bottom: 30px;
           
    }
    .heading{
        font-size: 1.3rem;

    }
    .card-1{
        grid-area: one;
    }
    .card-2{
        grid-area: two;
    }
    .card-3{
        grid-area: three;
    }
    .card-4{
        grid-area: four;
    }
    .card-5{
        grid-area: five;
    }


    
}























