

*, *::after, *::before{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;;
}
body{
    padding:0;
    margin:0;
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 93%);
    background-image: url(./images/);
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}

.wrapper{
    width: 90vw;
    min-height:80vh;
    background-color:white;
    border-radius: 30px;
    position: relative;

    display: grid;
    column-gap: 100px;
    grid-template-columns:1fr 1fr;
    justify-items:center;
    
    place-items: center;
    overflow: hidden;
}
.wrapper .backcover{
    width:900px;
    height: 600px;
    position: absolute;
    top:-5px;
    /* left:-10%; */
    border-radius: 0 0 9999px 9999px;
    background:linear-gradient(to right,hsl(293, 100%, 51%),hsl(264, 100%, 55%) );
    z-index: 0;
    background-color: red;
}
.wrapper .backcover-2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top:10%;
    left:50%;
 

}
.wrapper .content{
   padding:10px;
   justify-self: self-start;
 max-width: 500px;
 position: relative;
}
.content .main-title
{   font-size:4rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.content .main-description{
    font-size: 1.3rem;
    color: rgba(0,0,0,0.8);
    font-weight:600;
}
/**********************************/
.mobile{
    justify-self:self-end;
    width: 300px;
    height: 580px;
    background-color: hsl(0, 0%, 93%);
    font-size: .7rem;
    border-radius: 30px;
    border:10px solid white;

    display:grid;
    grid-template-columns: repeat(5, 56px);
    grid-template-rows: 90px repeat(9, 1fr);
    row-gap: 10px;
    overflow: hidden;
    position: relative;

    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}

.camera{
  width: 45%;
  height: 30px;
   left:50%;
   transform: translateX(-50%);
  border-radius:  0 0 15px 15px;
  background-color: white;
  position:absolute;
  top:-10px;
}
/*****************************/
.mobile .headbar{
    grid-column: 1/-1;
   
    background:linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
    border-radius:0 0 5px 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

.title{
    flex-grow: 2;
    color:white;
    padding-left: 10px;
}
.title .name{
    font-weight: 600;
    font-size: 1.2rem;
}
.title .available{
    font-weight:100;
    font-size: 0.8rem;
    color:hsl(276, 100%, 81%);
}

 .navigate{
     flex-grow: 1;
   color:white;
   text-align: center;
    font-size: 1.2rem;
    justify-self:flex-end;
}
/**************************/

.chat-left{
   grid-column:1/span 3 ;
   background-color:hsl(274, 100%, 97%);
   border-radius:10px 10px 10px 2px ;
   margin-left: 8px;
   padding:5px;
   color:hsl(276, 55%, 52%);
   box-shadow: 1px 3px 10px 0 rgba(0,0,0,.2) ;

}

.dog{
    border-radius: 8px;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,.2) ;

}
.dog1{
  grid-column: 3/span 1;
}
.dog2{
    grid-column: 4/span 1;
}
.dog3{
    grid-column: 5/span 1;
}

.chat-right{
     grid-column: 3/-1;
     background-color: white;
     margin-right: 8px;
     padding: 5px;
     border-radius:10px 10px 2px 10px;
     box-shadow: 1px 2.5px 8px 0 rgba(0,0,0,.1) ;

}


.task{
    background:linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
   padding:5px;
   margin-left: 8px;
   border-radius: 10px 10px 10px 2px;
     grid-column: 1/span 4;
   
     display: grid;
     grid-template-columns: auto auto auto;
     place-items: center;
     box-shadow: 1px 2.5px 8px 0 rgba(0,0,0,.3) ;
}
.task .dot1, .task .dot2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border:2px solid white;
    border-radius: 50%;
    justify-self: self-start;
 
}
.task .task-chat{
  font-size: 1.2rem;
}
.task .price
{
    font-size: 1.5rem;
    font-weight: 800;
    justify-self: self-end;
}
.task-first{
    grid-row: 8/span 1;
}
.task-second{
    grid-row: 9/span 1;
}
.task .ch2,.task .ch1{
    justify-self:self-start;
    font-size: 1rem;
}
.task .price{
    font-size: 1.1rem;
}

.input-box{
    grid-column: 1/-1;
    grid-row: 10/span 1;
    background-color: white;
    border-radius: 99999px;
   position: relative;
   margin:5px;
   padding:5px;
   box-shadow: 1px 3px 10px 0 rgba(0,0,0,.2) ;


   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   flex-grow: 1;
   

}

input[type="text"]
{
  outline:none;
  border:0;
  padding: 5px;
  border-radius: 5px;
    flex-grow: 1;
}
 
.send{
    transform: rotate(-90deg);
    justify-self: flex-end;
    font-size: 2rem;
    text-align: right;
    
}
 
@media all and (max-width:830px)
{
    .wrapper{
        grid-template-columns: 1fr;
        justify-content: center;
        border-radius: 0;
        padding : 20px 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
     }
    .wrapper .mobile{
        justify-self: center;
    }
    .wrapper .content{
        justify-self: center;
        text-align: center;
    }
 
    .wrapper .main-title{
        font-size: 3rem;
        text-align: center;
    }
}

@media all and (max-width:390px)
{
    body{
        height: auto;
        overflow: visible;
        overflow-x: hidden;
    }
    .wrapper .backcover{
        top:-10%;
    }
 
    .mobile{
        font-size:.7rem;
        width: 280px;
        height: 550px;
        grid-template-columns: repeat(5, 52px);
        grid-template-rows: 70px repeat(9, 1fr);
    }
    .mobile .camera{
        width: 45%;
    height: 26px;
    left:50%;
    transform: translateX(-50%);
    border-radius:  0 0 13px 13px;
 
}
    .mobile .headbar img{
        width: 35px;
        height: 35px;
    }
   
  .content .main-title{
        font-size:2rem;
        text-align: center;
    }
}

body::-webkit-scrollbar{
    -webkit-appearance: none;
    width:10px;
    background-color: dodgerblue;
}

body::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    background-color: white;
}
